extends layout

block content
		section#search
			.container
				.row
					.col-md-12
						.block
					.col-md-12
					.col-md-12
						.title
						h2 Add Indices
						p
							| Dantes remained confused and silent by this explanation of the 
							br
							|  thoughts which had unconsciously
						form#country
							.form-group
								input.form-control(type='text', placeholder='Enter Country Name')
								grammarly-btn
									._e725ae-textarea_btn._e725ae-anonymous._e725ae-not_focused(data-reactroot='', style='z-index: 2; transform: translate(539px, 271px);')
										._e725ae-transform_wrap
											._e725ae-status(title='Protected by Grammarly')  
								button.btn.btn-md.btn-primary.pull-left(type='submit') Submit

