html.gr__localhost(lang='en')
	head
		style(type='text/css').
			.gm-err-container{height:100%;width:100%;display:table;background-color:#e0e0e0;position:relative;left:0;top:0}.gm-err-content{border-radius:1px;padding-top:0;padding-left:10%;padding-right:10%;position:static;vertical-align:middle;display:table-cell}.gm-err-content a{color:#4285f4}.gm-err-icon{text-align:center}.gm-err-title{margin:5px;margin-bottom:20px;color:#616161;font-family:Roboto,Arial,sans-serif;text-align:center;font-size:24px}.gm-err-message{margin:5px;color:#757575;font-family:Roboto,Arial,sans-serif;text-align:center;font-size:12px}.gm-err-autocomplete{padding-left:20px;background-repeat:no-repeat;background-size:15px 15px}
		style(type='text/css').
			.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
		link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
		style(type='text/css').
			.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
		style(type='text/css').
			@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
		style(type='text/css').
			.gm-style { font: 400 11px Roboto, Arial, sans-serif;text-decoration: none; }.gm-style img { max-width: none; }
		style(type='text/css').
			.gm-style { font: 400 11px Roboto, Arial, sans-serif;text-decoration: none; }.gm-style img { max-width: none; }
		style(type='text/css').
			.gm-err-container{height:100%;width:100%;display:table;background-color:#e0e0e0;position:relative;left:0;top:0}.gm-err-content{border-radius:1px;padding-top:0;padding-left:10%;padding-right:10%;position:static;vertical-align:middle;display:table-cell}.gm-err-content a{color:#4285f4}.gm-err-icon{text-align:center}.gm-err-title{margin:5px;margin-bottom:20px;color:#616161;font-family:Roboto,Arial,sans-serif;text-align:center;font-size:24px}.gm-err-message{margin:5px;color:#757575;font-family:Roboto,Arial,sans-serif;text-align:center;font-size:12px}.gm-err-autocomplete{padding-left:20px;background-repeat:no-repeat;background-size:15px 15px}
		style(type='text/css').
			.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
		link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
		style(type='text/css').
			.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
		style(type='text/css').
			@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
		style(type='text/css').
			.gm-style { font: 400 11px Roboto, Arial, sans-serif;text-decoration: none; }.gm-style img { max-width: none; }
		style(type='text/css').
			.gm-style { font: 400 11px Roboto, Arial, sans-serif;text-decoration: none; }.gm-style img { max-width: none; }
		meta(charset='UTF-8')
		title NodeLight
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// google fonts
		// Css link
		link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
		link(rel='stylesheet', href='css/font-awesome.min.css')
		link(rel='stylesheet', href='css/owl.carousel.css')
		link(rel='stylesheet', href='css/owl.transitions.css')
		link(rel='stylesheet', href='css/animate.min.css')
		link(rel='stylesheet', href='css/lightbox.css')
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/preloader.css')
		link(rel='stylesheet', href='css/image.css')
		link(rel='stylesheet', href='css/icon.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/responsive.css')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/7/common.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/7/map.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/7/util.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/7/onion.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/7/controls.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/7/stats.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/7/marker.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/8/common.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/8/map.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/8/util.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/8/onion.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/8/controls.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/8/stats.js')
		script(type='text/javascript', charset='UTF-8', src='http://maps.googleapis.com/maps-api-v3/api/js/28/8/marker.js')
	.gr-top-z-index.gr-top-zero(tabindex='-1')
		._970ef1-hoverMenu(data-reactroot='')
			._970ef1-panel
				._970ef1-tooltip._970ef1-tooltip_hidden.undefined
				._970ef1-buttonArea
					._970ef1-btn._970ef1-btn_disable(tabindex='-1')
				._970ef1-line
				._970ef1-buttonArea
					._970ef1-btn._970ef1-btn_grammarly(data-action='editor', tabindex='-1')
	div(style='visibility: hidden; top: -9999px; position: absolute; opacity: 0;')
		._970ef1-hoverMenu(data-reactroot='')
			._970ef1-panel
				._970ef1-tooltip._970ef1-tooltip_hidden.undefined
				._970ef1-buttonArea
					._970ef1-btn._970ef1-btn_disable(tabindex='-1')
				._970ef1-line
				._970ef1-buttonArea
					._970ef1-btn._970ef1-btn_grammarly(data-action='editor', tabindex='-1')
	body#top(data-gr-c-s-loaded='true')
		header#navigation.navbar-fixed-top.animated-header
			.container
				.navbar-header
					// responsive nav button
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					// /responsive nav button
					// logo
					h1.navbar-brand
						a(href='#body')
							img(src='img/logo.png', height='40', width='164', alt='')
					// /logo
				// main nav
				nav.collapse.navbar-collapse.navbar-right(role='navigation')
					ul#nav.nav.navbar-nav.menu
						li
							a(href='#search') Search Data
						li
							a(href='#addIndices') Add Indices
						li
							a(href='#addDocument') Add Document
						li
							a(href='#deleteDocument') Delete Document
						
	.wrapper
		block content
		// load Js
		script(src='js/jquery-1.11.3.min.js')
		script(src='js/bootstrap.min.js')
		script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false')
		script(src='js/waypoints.min.js')
		script(src='js/lightbox.js')
		script(src='js/jquery.counterup.min.js')
		script(src='js/owl.carousel.min.js')
		script(src='js/html5lightbox.js')
		script(src='js/jquery.mixitup.js')
		script(src='js/wow.min.js')
		script(src='js/jquery.scrollUp.js')
		script(src='js/jquery.sticky.js')
		script(src='js/jquery.nav.js')
		script(src='js/main.js')
